[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "cata"]
	path = cata
	url = https://github.com/cran/cata
[submodule "tempR"]
	path = tempR
	url = https://github.com/cran/tempR
